<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="org.robotframework.red"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.ui.ide.workbench" name="RED">
            <property name="startupForegroundColor" value="000000" />
            <property name="startupMessageRect" value="35,265,415,15" />
            <property name="startupProgressRect" value="35,285,415,15" />
            <property name="aboutImage" value="icons/about.bmp" />
            <property name="aboutText" value="RED - Robot Editor&#x0D;
&#x0D;Development environment for Robot Framework http://www.robotframework.org/&#x0D;
&#x0D;(c) Copyright 2015-2018 Nokia Solutions and Networks.&#x0D;
&#x0D;
&#x0D;Eclipse and the Eclipse logo are trademarks of the Eclipse Foundation, Inc., https://www.eclipse.org/. 
Oracle and Java are trademarks or registered trademarks of Oracle and/or its 
affiliates. Other names may be trademarks of their respective owners.&#x0D;
&#x0D;This product includes software developed by other open source projects.&#x0D;
&#x0D;GitHub https://github.com/nokia/RED"/> 
            <property name="windowImages"
                value="icons/red_icon16.gif,icons/red_icon32.gif" />
            <property name="preferenceCustomization" value="plugin_customization.ini"/>
            <property name="applicationXMI" value="org.robotframework.ide.eclipse.product.plugin/red.e4xmi"/>
            <property name="applicationCSSResources" value="platform:/plugin/org.eclipse.platform/images/"/>
            <property name="introTitle" value="Welcome to RED"/>
            <property name="introBrandingImage" value="product:icons/intro_logo.bmp"/>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.intro">
      <introProductBinding
            introId="org.eclipse.ui.intro.universal"
            productId="org.robotframework.red">
      </introProductBinding>
   </extension>
</plugin>
