<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="Target Definition for Eclipse Luna (4.4)" sequenceNumber="153">
<locations>
<location includeAllPlatforms="false" includeMode="planner" includeSource="false" type="InstallableUnit">
<unit id="org.eclipse.equinox.sdk.feature.group" version="3.10.2.v20150204-1316"/>
<unit id="org.eclipse.rcp.sdk.id" version="4.4.2.M20150204-1700"/>
<unit id="org.eclipse.equinox.p2.user.ui.source.feature.group" version="2.2.0.v20150129-0838"/>
<unit id="org.eclipse.sdk.ide" version="4.4.2.M20150204-1700"/>
<unit id="org.eclipse.rcp.feature.group" version="4.4.2.v20150204-1700"/>
<unit id="org.eclipse.zest.sdk.feature.group" version="1.5.101.201408150207"/>
<unit id="org.eclipse.rcp.source.feature.group" version="4.4.2.v20150204-1700"/>
<unit id="org.eclipse.gef.sdk.feature.group" version="3.9.101.201408150207"/>
<repository location="http://download.eclipse.org/releases/luna/"/>
</location>
</locations>
<targetJRE path="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-1.8"/>
</target>