<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="Target Definition for Eclipse Luna (4.4)" sequenceNumber="175">
    <locations>
        <location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="false" type="InstallableUnit">
            <unit id="org.eclipse.equinox.sdk.feature.group" version="3.10.2.v20150204-1316"/>
            <unit id="org.eclipse.pde.feature.group" version="3.10.1.v20150204-1700"/>
            <unit id="org.eclipse.pde.source.feature.group" version="3.10.1.v20150204-1700"/>
            <unit id="org.eclipse.platform.ide" version="4.4.2.M20150204-1700"/>
            <unit id="org.eclipse.platform.sdk" version="4.4.2.M20150204-1700"/>
            <unit id="org.eclipse.rcp.feature.group" version="4.4.2.v20150204-1700"/>
            <unit id="org.eclipse.rcp.source.feature.group" version="4.4.2.v20150204-1700"/>
            <unit id="org.eclipse.releng.tools.feature.group" version="3.5.1.v20140604-1105"/>
            <unit id="org.eclipse.sdk.ide" version="4.4.2.M20150204-1700"/>
            <repository location="http://download.eclipse.org/eclipse/updates/4.4"/>
        </location>
        <location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="false" type="InstallableUnit">
            <unit id="org.eclipse.epp.mpc.feature.group" version="1.3.2.v20150218-2039"/>
            <unit id="org.eclipse.equinox.p2.user.ui.source.feature.group" version="2.2.0.v20150129-0838"/>
            <unit id="org.eclipse.equinox.sdk.feature.group" version="3.10.2.v20150204-1316"/>
            <unit id="org.eclipse.rcp.feature.group" version="4.4.2.v20150204-1700"/>
            <unit id="org.eclipse.rcp.sdk.id" version="4.4.2.M20150204-1700"/>
            <unit id="org.eclipse.rcp.source.feature.group" version="4.4.2.v20150204-1700"/>
            <unit id="org.eclipse.sdk.ide" version="4.4.2.M20150204-1700"/>
            <repository location="http://download.eclipse.org/releases/luna/"/>
        </location>
        <location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="false" type="InstallableUnit">
            <unit id="org.eclipse.e4.core.tools.feature.feature.group" version="0.14.0.v20140806-0758"/>
            <unit id="org.eclipse.e4.core.tools.feature.source.feature.group" version="0.14.0.v20140806-0758"/>
            <repository location="http://download.eclipse.org/e4/updates/0.16/"/>
        </location>
        <location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="false" type="InstallableUnit">
            <unit id="org.eclipse.nebula.widgets.nattable.core.feature.feature.group" version="1.5.0.201703192131"/>
            <unit id="org.eclipse.nebula.widgets.nattable.core.source.feature.feature.group" version="1.5.0.201703192131"/>
            <unit id="org.eclipse.nebula.widgets.nattable.extension.glazedlists.feature.feature.group" version="1.5.0.201703192131"/>
            <unit id="org.eclipse.nebula.widgets.nattable.extension.glazedlists.source.feature.feature.group" version="1.5.0.201703192131"/>
            <repository location="http://download.eclipse.org/nattable/releases/1.5.0/repository/"/>
        </location>
        <location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="false" type="InstallableUnit">
            <unit id="com.codeaffine.eclipse.swt.feature.feature.group" version="0.5.0.20170519-1200"/>
            <repository location="http://fappel.github.io/xiliary"/>
        </location>
    </locations>
    <targetJRE path="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-1.7"/>
</target>
