<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.robotframework.ide.eclipse.wizards.category"
            name="Robot Framework">
      </category>
      <wizard
            category="org.robotframework.ide.eclipse.wizards.category"
            class="org.robotframework.ide.eclipse.main.plugin.wizards.NewRobotProjectWizard"
            finalPerspective="org.eclipse.ui.perspectives.RobotPerspective"
            hasPages="true"
            icon="resources/new_robot_project.png"
            id="org.robotframework.ide.eclipse.wizards.newRobotProject"
            name="Robot Project"
            project="true">
      </wizard>
      <wizard
            category="org.robotframework.ide.eclipse.wizards.category"
            class="org.robotframework.ide.eclipse.main.plugin.wizards.NewRobotTestSuiteWizard"
            finalPerspective="org.eclipse.ui.perspectives.RobotPerspective"
            icon="resources/new_robot_suite.png"
            id="org.robotframework.ide.eclipse.wizards.newRobotSuite"
            name="Robot Test Suite">
      </wizard>
      <wizard
            category="org.robotframework.ide.eclipse.wizards.category"
            class="org.robotframework.ide.eclipse.main.plugin.wizards.NewRobotTestCaseWizard"
            finalPerspective="org.eclipse.ui.perspectives.RobotPerspective"
            hasPages="true"
            icon="resources/new_robot_file.png"
            id="org.robotframework.ide.eclipse.wizards.newRobotCase"
            name="Robot Test Cases File">
      </wizard>
   </extension>
   <extension
         id="robotNature"
         name="Robot project nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.robotframework.ide.eclipse.main.plugin.nature.RobotProjectNature">
         </run>
      </runtime>
      <options
            allowLinking="false">
      </options>
   </extension>
   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="resources/robot_dec.png"
            id="org.robotframework.ide.eclipse.main.plugin.robotNature.img"
            natureId="org.robotframework.ide.eclipse.main.plugin.robotNature">
      </image>
   </extension>
 <extension
       point="org.eclipse.ui.decorators">
    <decorator
          class="org.robotframework.ide.eclipse.main.plugin.navigator.RobotSuitesDecorator"
          icon="resources/robot_dec.png"
          id="org.robotframework.ide.eclipse.main.plugin.robotSuiteDecorator"
          label="Robot Test Suites"
          lightweight="true"
          location="TOP_RIGHT"
          state="true">
       <description>
          This decorator adds icon to Robot test suites
       </description>
       <enablement>
          <objectClass
                name="org.eclipse.core.resources.IFolder">
          </objectClass>
       </enablement>
    </decorator>
 </extension>

	<extension
            point="org.eclipse.ui.perspectives">
        <perspective
                class="org.robotframework.ide.eclipse.main.plugin.perspectives.RobotPerspective"
                icon="resources/robot.png"
                id="org.eclipse.ui.perspectives.RobotPerspective"
                name="Robot">
        </perspective>
    </extension>
 <extension
       point="org.eclipse.ui.perspectiveExtensions">
    <perspectiveExtension
          targetID="org.eclipse.ui.perspectives.RobotPerspective">
       <newWizardShortcut
             id="org.robotframework.ide.eclipse.wizards.newRobotProject">
       </newWizardShortcut>
       <newWizardShortcut
             id="org.robotframework.ide.eclipse.wizards.newRobotSuite">
       </newWizardShortcut>
       <newWizardShortcut
             id="org.robotframework.ide.eclipse.wizards.newRobotCase">
       </newWizardShortcut>
       <actionSet
             id="org.eclipse.debug.ui.launchActionSet">
       </actionSet>
    </perspectiveExtension>
 </extension>

	<extension
            point="org.eclipse.ui.editors">
        <editor
                name="Robot Text Editor"
                extensions="txt,robot"
                default="false"
                icon="resources/robot.png"
                class="org.robotframework.ide.eclipse.main.plugin.texteditor.TextEditorWrapper"
                id="org.robotframework.ide.eclipse.main.plugin.texteditor.TextEditorWrapper">
        </editor>
        <editor
              class="org.robotframework.ide.eclipse.main.plugin.tableeditor.RobotFormEditor"
              default="true"
              extensions="txt,robot"
              icon="resources/robot.png"
              id="org.robotframework.ide.tableditor"
              name="Robot Table Editor">
        </editor>
    </extension>
 <extension
         point="org.eclipse.ui.views">
      <view
            class="org.robotframework.ide.eclipse.main.plugin.views.MessageLogViewWrapper"
            icon="resources/robot.png"
            id="org.robotframework.ide.MessageLogView"
            name="Message Log"
            restorable="true">
      </view>
 </extension>
 <extension
       point="org.eclipse.debug.core.launchConfigurationTypes">
    <launchConfigurationType
          delegate="org.robotframework.ide.eclipse.main.plugin.launch.RobotLaunchConfigurationDelegate"
          id="org.robotframework.ide.robotLaunchConfiguration"
          modes="run"
          name="Robot">
    </launchConfigurationType>
 </extension>
 <extension
       point="org.eclipse.debug.core.launchModes">
    <launchMode
          label="Run"
          mode="org.robotframework.ide.robotRunLaunch">
    </launchMode>
 </extension>
 <extension
       point="org.eclipse.debug.ui.launchGroups">
    <launchGroup
          bannerImage="resources/robot.png"
          id="org.robotframework.ide.robotLaunchConfigurationGroup"
          image="resources/robot.png"
          label="Robot Framework"
          mode="org.robotframework.ide.robotRunLaunch">
    </launchGroup>
 </extension>
 <extension
       point="org.eclipse.debug.ui.launchConfigurationTabGroups">
    <launchConfigurationTabGroup
          class="org.robotframework.ide.eclipse.main.plugin.launch.tabs.RobotLaunchConfigurationTabGroup"
          id="org.robotframework.ide.robotLaunchConfigurationTabGroup"
          type="org.robotframework.ide.robotLaunchConfiguration">
    </launchConfigurationTabGroup>
 </extension>
 <extension
       point="org.eclipse.debug.ui.launchConfigurationTypeImages">
    <launchConfigurationTypeImage
          configTypeID="org.robotframework.ide.robotLaunchConfiguration"
          icon="resources/robot.png"
          id="org.robotframework.ide.robotLaunchConfigurationImage">
    </launchConfigurationTypeImage>
 </extension>
 <extension point="org.eclipse.debug.ui.launchShortcuts">
    <shortcut
            class="org.robotframework.ide.eclipse.main.plugin.launch.RobotLaunchConfigurationDelegate"
            id="org.robotframework.ide.robotLaunchShortcutConfiguration"
            label="Robot Test"
            icon="resources/robot.png"
            modes="run,debug">
        <contextualLaunch>
            <enablement>
                <with variable="selection">
                </with>
            </enablement>
        </contextualLaunch>
    </shortcut>
 </extension>
 <extension
       point="org.eclipse.ui.navigator.viewer">
    <viewerContentBinding
          viewerId="org.eclipse.ui.navigator.ProjectExplorer">
       <includes>
          <contentExtension
                pattern="org\.robotframework\.content.*.">
          </contentExtension>
          <contentExtension
                pattern="org\.robotframework\.filters.*.">
          </contentExtension>
       </includes>
    </viewerContentBinding>
 </extension>
 <extension
       point="org.eclipse.ui.navigator.navigatorContent">
    <navigatorContent
          contentProvider="org.robotframework.ide.eclipse.main.plugin.navigator.NavigatorContentProvider"
          icon="resources/robot.png"
          id="org.robotframework.content.testFileContent"
          labelProvider="org.robotframework.ide.eclipse.main.plugin.navigator.NavigatorLabelProvider"
          name="Robot Elements">
       <triggerPoints>
          <and>
             <instanceof
                   value="org.eclipse.core.resources.IFile">
             </instanceof>
             <or>
                <test
                      property="org.eclipse.core.resources.extension"
                      value="txt">
                </test>
                <test
                      property="org.eclipse.core.resources.extension"
                      value="robot">
                </test></or>
          </and>
       </triggerPoints>
       <possibleChildren>
          <instanceof
                value="org.robotframework.ide.eclipse.main.plugin.RobotElement">
          </instanceof>
       </possibleChildren>
       <actionProvider
             class="org.robotframework.ide.eclipse.main.plugin.navigator.NavigatorActionsProvider"
             id="org.robotframework.actions.provider">
       </actionProvider>
    </navigatorContent>
    <commonFilter
          activeByDefault="false"
          class="org.robotframework.ide.eclipse.main.plugin.navigator.SuiteInitFilesFilter"
          description="Hides all Robot Suite initialization files (__init__.robot)"
          id="org.robotframework.filters.initFilesFilter"
          name="Robot Suite initialization files"
          visibleInUI="true">
    </commonFilter>
    <commonFilter
          activeByDefault="true"
          class="org.robotframework.ide.eclipse.main.plugin.navigator.NonRobotProjectsFilter"
          description="Hide all non-Robot projects"
          id="org.robotframework.filters.nonRobotProjectsFilter"
          name="Non-Robot projects"
          visibleInUI="true">
    </commonFilter>
    <commonWizard
          type="new"
          wizardId="org.robotframework.ide.eclipse.wizards.newRobotProject">
       <enablement>
          <with
                variable="activeWorkbenchWindow.activePerspective">
             <equals
                   value="org.eclipse.ui.perspectives.RobotPerspective">
             </equals>
          </with></enablement>
    </commonWizard>
    <commonWizard
          type="new"
          wizardId="org.robotframework.ide.eclipse.wizards.newRobotCase">
       <enablement>
          <with
                variable="activeWorkbenchWindow.activePerspective">
             <equals
                   value="org.eclipse.ui.perspectives.RobotPerspective">
             </equals>
          </with>
       </enablement>
    </commonWizard>
    <commonWizard
          type="new"
          wizardId="org.robotframework.ide.eclipse.wizards.newRobotSuite">
       <enablement>
          <with
                variable="activeWorkbenchWindow.activePerspective">
             <equals
                   value="org.eclipse.ui.perspectives.RobotPerspective">
             </equals>
          </with>
       </enablement>
    </commonWizard>
 </extension>
 <extension
       point="org.eclipse.ui.themes">
    <themeElementCategory
          id="org.robotframework.ide.eclipse.theme"
          label="Robot">
    </themeElementCategory>
    <colorDefinition
          categoryId="org.robotframework.ide.eclipse.theme"
          id="org.robotframework.ide.eclipse.cell.highlight"
          isEditable="true"
          label="Highlighted cell color"
          value="255, 245, 225">
       <description>
          This color is used in Robot tables in order to highlight currently selected cell
       </description>
    </colorDefinition>
 </extension>
 <extension
       point="org.eclipse.ui.menus">
    <menuContribution
          allPopups="false"
          locationURI="toolbar:org.eclipse.ui.main.toolbar">
    </menuContribution>
 </extension>

</plugin>
